<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <title>Jan kölcsönzője</title>
</head>
<body class="mainBG">

    <div class="TopNotch">
        <a href="/" class="Logo"></a>
        <span class="NavLinks">
            <% if (session.isLoggedIn) { %> 
               
                <a href="/rental" class="navLink">Kölcsönzés</a>
                <a href="/newdata" class="navLink">Új adat</a>
                <a href="/logout" class="navLink">Kijelentkezés</a> 
            <% } else { %>
           
                <a href="/login" class="navLink">Bejelentkezés</a>
                <a href="/reg" class="navLink">Regisztrálás</a>
            <% } %>
        </span>
        <input type="text" class="form-control searchField">
    </div>