<!DOCTYPE html>
<html lang="hu">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>Jan kölcsönzője</title>

</head>
<body>
    <div class="LandingPage">
        <div class="gallery">
            <span id="img">
                <!--Kép-->
            </span>

            <div id="kettoFoto">
                <span id="elsoFekete">
                    <!--1. fekete man-->
                </span>
                <span id="masodikFekete">
                    <!--1. fekete man-->
                </span>
            </div>
        </div>
        <h1 class="Title">Könyv és film kölcsönzés</h1>
        <p>Kölcsönözz a nap bármely szakaszában kedvedrevaló könyveket, vagy filmeket! Legyél tag és nyugodtan nézz körül a választékunkban!</p>
        <div class="Auth">
            <a href="/login" class="btn btn-primary my-3 text-center authBtn">Jelentezz be!</a>
            <a href="/reg" class="btn btn-primary my-3 text-center authBtn">Regisztrálj!</a>
        </div>
    </div>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>