<!DOCTYPE html>
<html lang="hu">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>Jan kölcsönzője</title>

</head>
<body>
    <div class="LandingPage">
        <div class="gallery">
            <span id="img">
                <!--Kép-->
            </span>
            <div id="kettoFoto">
                <span id="esloFekete">
                    <!--1. fekete man-->
                </span>
                <span id="masodikFekete">
                    <!--1. fekete man-->
                </span>
            </div>
        </div>
        <h1>Könyv és film kölcsönzés</h1>
        <p>Kölcsönözz a nap bármely szakaszában kedvedrevaló könyveket, vagy filmeket! Legyél tag és nyugodtan nézz körül a választékunkban!</p>
        <div class="Auth">
            <span class="btn btn-primary my-3">Jelentezz be!</span>
            <span class="btn btn-primary my-3">Regisztrálj!</span>
        </div>
    </div>
</body>
</html>