<%- include('header') %>


<%- include('message') %>
<!--Content-->
<div class="rentalPage">
    <div class="sideBar">
        Jelenleg köztük böngészel:
        <span>
            <!--category img-->
        </span>
        <h3>Itt fog megjelenni a választott kategória.</h3>
        <button>Könyvek</button>
        <button>Filmek</button>
        <button>Minden kategória</button>
    </div>
    <div class="rentalContent">
        <h3>Itt fognak megjelenni a választott elemek!</h3>
        <div class="cardSystem">

        </div>
    </div>
</div>

<%- include('footer') %>