html,body{
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
}
.LandingPage{
    width: 100%;
    height: 100%;
    background-image: url(../img/LandingPage.jpg);
    backdrop-filter: 5px;
    backdrop-filter: invert(80%);
    backdrop-filter: sepia(90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}