html,body{
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.LandingPage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    overflow: hidden;

}


.LandingPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/LandingPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px); 
    z-index: -1; 
}


.LandingPage > * {
    position: relative;
    z-index: 1; 
}
#img{
    width: 100%;
    height: 100%;
    background-image:  url(../img/BlackManReading.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}
.Auth{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 2rem;
}
.gallery{
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
}
#kettoFoto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}
#elsoFekete{
    background-image: url(../img/elsoFekete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;

    width: 14rem;
    height: 14rem;
}
#masodikFekete{
    background-image: url(../img/masodikFekete.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    width: 14rem;
    height: 14rem;
}
h1,p{
    mix-blend-mode: difference;
    color: white;   
}
p{
    font-size: larger;
}
.authBtn{
    width: 12rem;
    font-size: large;
    border-radius: 20px;
    
}
.authPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    width: 80%;
    height: 80%;
    margin: auto;
    background-image: url(../img/mainBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
}
.marketing{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
@media (min-width: 768px) {
    .authPage {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
    }

    .marketing {
        width: 50%;
        text-align: left;
    }
}
.authForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    width: 50%;
    height: 100%;
    
}
.mainBG{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}
.form-control{
    border-radius: 20px;
}
.sendAuth{
    border-radius: 20px;
    font-size: large;
    width: 100%;
}
.TopNotch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 5rem;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    margin: 1rem;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 2px 2px 5px gray;
}
.NavLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    
}
.navLink{
    text-decoration: none;
    font-size: large;
    color: #9FA6B2;
}
.navLink:hover{
    color: rgb(68, 68, 68);
    transition: 0.5 ease-out;
    
}
.Logo{
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-image: url(../img/BlackManReading.png);
    background-position: center;
    background-size: cover;
}
.searchField{
    width:60%;
}
/*---------------------------------------------------------------------------------*/
/*Rental page*/

.rentalPage{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding:1rem;
}

.rentalContent{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding:1rem;
}

.sideBar{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.cardSystem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding:1rem;
}

.catBtn{
    width: 80%;
}
.catImg{
    width: 12rem;
    height: 12rem;
    border-radius: 50px;
    background-image: url(../img/nothing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.RentalCard{
    width: 18rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}
.separator{
    height: 90%;
    width: 5px;
    border-radius: 20px;
    background-color: #332D2D;
}
.Title{
    text-align: center;
    width: 100%;
}